
      <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/database-images/{{this._id}}.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
     <p class="card-text">{{this.Category}}</p>
      <p class="card-text">{{this.Price}}</p>
    <p class="card-text">{{this.Description}}</p>
    
    <button  class="btn btn-success" onclick="addToCart({{this._id}})">ADD TO CART</button>
  </div>
</div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
